.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedorModal {
	width: 500px;
	min-height: 100px;
	background: #fff;
	position: relative;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 20px;
}


.botonCerrar {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	color: #1766DC;
}

.botonCerrar:hover {
	background: #f2f2f2;
}

.contenido {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5rem;
}

.contenido h1 {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.contenido p {

	font-size: 18px;
	margin-bottom: 2rem;

}

.contBotones{
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	display: flex;
}

.contBotones button{
	margin-left: 8rem;
	margin-right: 8rem;
}