/* General */
*{
  margin: 0;
  padding: 0;
}

/* Fuentes */
@font-face {
  font-family: 'Lato-regular';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato-bold';
  src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato-black';
  src: local('Lato'), url(./fonts/Lato-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta-regular';
  src: local('Mukta'), url(./fonts/Mukta-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta-bold';
  src: local('Mukta'), url(./fonts/Mukta-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta-extrabold';
  src: local('Mukta'), url(./fonts/Mukta-ExtraBold.ttf) format('truetype');
}

/* Visualizacion de APP */

.flex{
  display: flex;
}

.grid{
  display: grid;
  width: 100%;
  grid-template-rows: 0.065fr auto;
}

.content{
  width: 100%;
  padding: 20px;
}